body {
	background-color:rgb(240, 240, 240);
}

.container {
	margin: 0 auto;
	text-align: center;
}

.weather_widget {
	padding: 10px 15px;
}

.day {
	width:100px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
}

.day img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.high, .low {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
}

.high {
  margin-right:5px;
}

.low {
	color:grey;
}


.name {
	text-align:center;
}